* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --primary-color: #22254b;
  --secondary-color: #373b69;
  --menu-color: #7378c5; */
  --primary-color: #595959;
  --secondary-color: #7f7f7f;
  --menu-color: #0a0a0a;
}

li {
  list-style-type: none;
  padding-bottom: 1rem;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", serif;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: white;
  font-family: inherit;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}

.search::placeholder {
  color: var(--menu-color);
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  color: var(--menu-color);
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  color: var(--menu-color);
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

.home-btn {
  color: var(--menu-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.home-btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  border: 2px solid var(--primary-color);
}

.specific_movie {
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  color: var(--menu-color);
  letter-spacing: 0.5px;
}

.movie-txt {
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.spes-movie-info {
  padding-bottom: 2rem;
}

.movie-img {
  height: 100%;
  width: 25rem;
}

.buy-now-div {
  padding-top: 5rem;
}

.add-to-cart {
  padding: 0.5rem 1rem;
  color: var(--menu-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-size: 1.5rem;
}

.buy-now:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  border: 2px solid var(--primary-color);
}

.cart {
  color: var(--menu-color);
  font-size: 2rem;
}

.price {
  padding-top: 2rem;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************          CART           *********************************/
/***********************************************************************************/
/***********************************************************************************/

.cart-popup {
  display: none; /* Hidden by default */
  position: fixed;
  right: 0px;
  width: 25rem;
  height: 30rem;
  border: 2px solid var(--primary-color);
  border-radius: 0 0 0 50px;
  border-top: none;
  border-right: none;
  background-color: var(--secondary-color);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.377);
  padding: 20px;
  z-index: 1000;
  overflow: hidden;
  overflow-y: auto;
}

.cart_h2 {
  color: var(--menu-color);
}

.cart_btn {
  color: var(--menu-color);
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  padding-inline: 1rem;
  padding-block: 0.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.cart_btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  border: 2px solid var(--primary-color);
}

#cartContent {
  color: var(--menu-color);
}

.addcart,
.removecart {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: var(--menu-color);
  padding-left: 1rem;
  cursor: pointer;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************        checkout         *********************************/
/***********************************************************************************/
/***********************************************************************************/

.checkout-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.checkout-header {
  color: white;
}

.checkout-img {
  height: 15rem;
}

.checkout-product-name {
  color: white;
}

.checkout-quantity {
  color: white;
}

.checkout-total-price {
  color: white;
}

#totalPrice {
  color: white;
}

.checkout-btn {
  margin: 2rem 0 5rem 0;
  color: var(--menu-color);
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  text-decoration: none;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.checkout-btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  border: 2px solid var(--secondary-color);
}

.checkout-complete-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  color: var(--menu-color);
}

/***********************************************************************************/
/***********************************************************************************/
/*************************         filter          *********************************/
/***********************************************************************************/
/***********************************************************************************/

.filter-div {
  padding: 1rem 5rem;
}

.search-label {
  color: var(--menu-color);
}

.search-opt {
  font-family: "Poppins", serif;
}

.filter-bar {
  font-family: "Poppins", serif;
  color: var(--menu-color);
  background-color: var(--secondary-color);
  appearance: none;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  border-radius: 50px;
  border: 1px solid var(--menu-color);
}

.filter-bar:focus {
  background-color: var(--primary-color);
  color: var(--menu-color);
  outline: none;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************         Loading          *********************************/
/***********************************************************************************/
/***********************************************************************************/

#loading {
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.dots {
  display: inline-block;
  animation: dots 1s steps(5, end) infinite;
}

#loading_movie {
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.dots {
  display: inline-block;
  animation: dots 1s steps(5, end) infinite;
}
